@import url(https://fonts.googleapis.com/css?family=Rammetto+One);
@import url(https://fonts.googleapis.com/css?family=Cabin);
body {
	background-color: white;
}
h1 {
	font-family: 'Cabin', sans-serif;
	font-size: 4em;
	font-weight: 800;
	text-align: center;
	color: rgb(100,0,255);
	margin: 0;
}
h2 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	text-align: right;
	color: rbg(34,103,255);
	margin-top: 0;
	margin-bottom: 75px;
}
article {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	padding-left: 150px;
	padding-right: 75px;
}
p {
	line-height: 150%;
	padding-bottom: 20px;
	text-indent: 2em;
}
.articletitle{
	text-decoration: underline;
	font-weight: bold;
}